<div class="container">
  <div class="col-md-5 panel">
    <h3 style="text-align: center;">Search amoung {{magnitude}} of singles</h3>
    <br>
    <div class="col-md-6">
      Gender<br>
      <input type="text" ng-model="haircolor"><br><!-- radio buttons -->
      Hair color<br>
      <input type="text" ng-model="haircolor"><br><!-- dropdown -->
      Eye color<br>
      <input type="text" ng-model="eyecolor"><br><!-- dropdown -->
      Height<br>
      <input type="text" ng-model="height"><br><!-- a number -->
      Ocupation<br>
      <input type="text" ng-model="a"><br><!-- dropdown (study, work etc) -->
      Food preferences<br>
      <input type="text" ng-model="a"><br><!-- dropdown (vegan, vegeterian, raw food etc) -->
      Glasses<br>
      <input type="text" ng-model="a"><br><!-- radio button -->
    </div>
    <div class="col-md-6">
      Body type<br>
      <input type="text" ng-model="weight"><br><!-- drop down (slim, fat etc) -->
      Age group<br>
      <input type="text" ng-model="age"><br><!-- dropdown -->
      Living in<br>
      <input type="text" ng-model="livingin"><br><!-- text-field (if enough time, go for dropdown) -->
      Interests<br>
      <input type="text" ng-model="a"><br><!-- text-field -->
      Personalities<br>
      <input type="text" ng-model="a"><br><!-- text-field -->
      Education<br>
      <input type="text" ng-model="a"><br><!-- dropdown (primary school, high school, university, other -->
      Money<br>
      <input type="text" ng-model="a"><br><!-- dropdown (0-100, 100-1000, rich -->
    </div>
    <div class="row col-xs-12 buffer"></div>
    <div style="text-align:center;">
      <button type="button" ng-click="search()" class="btn btn-info" style="width: 40%;">Search</button>
    </div>
  </div>

</div>
