<div class="container">
  <div class="col-md-5 panel">
    <div class="col-md-6">
      Hair color<br>
      <input type="text" ng-model="haircolor"><br>
      Eye color<br>
      <input type="text" ng-model="eyecolor"><br>
      Height<br>
      <input type="text" ng-model="height"><br>
      Weight<br>
      <input type="text" ng-model="weight"><br>
      Age<br>
      <input type="text" ng-model="age"><br>
    </div>
    <div class="col-md-6">
      Living in<br>
      <input type="text" ng-model="livingin"><br>
      Something<br>
      <input type="text" ng-model=""><br>
      Something<br>
      <input type="text" ng-model=""><br>
    </div>
  </div>
</div>
